---
---

// Color Names
$navyBlue: #152679;
$lightGray: #EEEEEE;
$darkerGray: #DDDDDD;

@import "reset";
@import "functions";
@import "highlights";
@import "svg-icons";

// Page colors
$pageBackground: $lightGray;

// Sidebar
$sidebarBackground: $darkerGray;
$sidebarBorder: darken($sidebarBackground, 15%);
$sidebarHoverBackground: darken($sidebarBackground, 5%);
$sidebarTextColor: contrast($sidebarBackground);

body, html {
  background-color: $pageBackground;
  height: 100%;
  font-family: arial;
}

#masterContainer {
  height: 100%;

  #topRow {
    height: inherit;
  }
}

#main {
  @media screen and (max-width: 768px) {
    margin-top: 75px;
  }
}

@import "navbar";
@import "post-list";
@import "post";