#sidebar {
  display: flex;
  flex-direction: column;
  color: $sidebarTextColor !important;
  background-color: $sidebarBackground;
  height: 100%;
  position: fixed;
  padding-top: 15px;
  border-right: 1px solid $sidebarBorder;

  a {
    color: $sidebarTextColor !important;

    &:hover {
      text-decoration: none;
    }
  }

  h1 {
    text-decoration: none;
    font-size: 2em;
    text-align: center;
    margin-bottom: 15px;
  }

  #headerImage {
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    img {
      border-radius: 10%;
      width: 100%;
    }
  }

  nav {
    flex-grow: 1;
    margin: 15px -15px 0px -15px;

    a {
      display: block;
      padding: 10px 0px 0px 10px;
      width: 100%;
      height: 35px;
      color: white;
      text-decoration: none !important;
      border-top: 1px solid $sidebarBorder;
    }

    a:hover {
      background-color: $sidebarHoverBackground;
    }

    a:last-of-type {
      border-bottom: 1px solid $sidebarBorder;
    }
  }

  #social {
    text-align: center;
    margin-bottom: 25px;
  }
}